* {
  margin: 0; /* Elimina los márgenes por defecto de todos los elementos */
  padding: 0; /* Elimina el relleno (padding) por defecto de todos los elementos */
  box-sizing: border-box; /* Incluye el padding y el borde dentro del tamaño total del elemento */
}

html {
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cuerpo {
  display: flex;
  flex-direction: column;
}