/*------------------------------------------------------------------------------------------------------------------------------------*/

  
  /*--------------------------------------------------------------------------------*/
  
  .seccion-1 {
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #c71717;
  }
    
  .seccion-1 img {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 500px;
    object-fit: contain;
    box-shadow: 5px 5px 5px rgba(163, 0, 0, 0.9);
    border-radius: 20px;
  
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;
  }
  
  .seccion-1 img:hover {
    transform: scale(0.95) translateY(10px);
  }
  
  /* ------------------------
      RESPONSIVE para móviles
  --------------------------- */
  
  @media screen and (max-width: 768px) {.seccion-1 img { max-height: 200px; } }
  
  /* ------------------------
      RESPONSIVE para móviles
  --------------------------- */
  
  /*------------------------------------------------------------------------------------------------------------------------------------*/
  .seccion-2, .seccion-3, .seccion-4, .seccion-5 { padding-left: 20px; padding-right: 20px; }
  
  #seccion-2, #seccion-3, #seccion-4,  #seccion-5{ scroll-margin-top: 90px; }
  
  #contenedor-productos-skate,
  #contenedor-productos-accesorios,
  #contenedor-productos-stickers,
  #contenedor-productos-ropa  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0;
  }
  
  .cards {
    border: 2px solid rgb(187, 186, 186);
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .botones button{
    padding: 10px 20px;
    background-color: #ca0303;       
    color: white;                   
    border: none;                  
    border-radius: 4px;            
    font-size: 16px;                
    cursor: pointer;               
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.4); /* Sombra sutil */
    bottom: 2px;
  }

  .botones button:hover{
    background-color: #450000;
  }

  #contenedor-productos-filtrados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0 20px;
  }

  /*------------------------------------------------------*/
  
  .splide {
    flex: 0 0 45%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px; /* Asegura una altura uniforme mínima */
  }
  
  .splide__slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    display: block;
  }
  
  /* ------------------------------------------------
     RESPONSIVE para móviles
  --------------------------------------------------- */
  
  @media screen and (max-width: 768px) {
  
    #contenedor-productos-skate,
    #contenedor-productos-accesorios,
    #contenedor-productos-stickers,
    #contenedor-productos-ropa {
      grid-template-columns: 1fr;
    }

    #contenedor-productos-filtrados {
      grid-template-columns: 1fr;
    }
  
    .cards {
      height: auto;
      flex-direction: column;
      box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
      max-height: 550px;
      box-sizing: border-box;
    }
    
    .info {
      border: 1px solid #bbb;
      background-color: #e6e6e6;
      border-radius: 8px;
      box-sizing: border-box;
      margin: 10px;
      font-size: 14px;
    }
  
    .botones button{
      padding: 10px 10px;
      font-size: 14px;
    }
  
    #seccion-2 ,#seccion-3, #seccion-4, #seccion-5 { 
      /*scroll-margin-top: 108px;*/}
  
  }